@page "/home"

<div class="welcome-container">
    <div class="welcome-text">
        <h1>Welcome, Harry</h1>
        <p>Explore our videos and more!</p>
    </div>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
