@page "/"
@using Microsoft.AspNetCore.Components.Forms
@using Models
@using Microsoft.AspNetCore.Authorization
@inject UserReq UserReqService
@inject SharedUser sharedUser
@inject NavigatorService NavigatorService
@inject NavigationManager NavigationManagement

<div class="parent_signin">
    <div class="signin_signup">
        <div class="signin">
            Sign In
        </div>
        <div class="signup" @onclick="NavigateToSignUp">
            Sign up
        </div>
    </div>
</div>

<div class="Welcome_txt">
    <div> Welcome to</div>
    <div>Boxing 4 Change</div>
</div>

<div class="LogIn">
    <EditForm Model="@loginModel" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group_login">
            <InputText id="email" @bind-Value="email" class="form_control_login"  placeholder="EMAIL" />
            <ValidationMessage For="@(() => loginModel.email)" />
        </div>
        <div class="form-group_login">
            <InputText id="password" @bind-Value="password" type="password" class="form_control_login" placeholder="PASSWORD" />
            <ValidationMessage For="@(() => loginModel.password)" />
        </div>
        <div class="forgot">
            <a href="/forgot_password">Forgot password?</a>
        </div>
        <button class="btn-primary_login" @onclick="LogInReq">Log in</button>
    </EditForm>
</div>
@if(notFound==true)
{
    <p>The email or password you entered is incorrect. Please try again.</p>
}
@if(emailNotVerified)
{
    <p>Your email address has not been verified yet. Please check your inbox for a verification link.</p>
}

@if (accessType == NetworkAccess.None || accessType == NetworkAccess.Unknown)
{
    <p>No internet connection detected. Please check your connection and try again.</p>
}

@code {

    NetworkAccess accessType = Connectivity.Current.NetworkAccess;
    private LoginModel loginModel = new LoginModel();
    private bool notFound = false;
    private string email { get; set; }
    private string password { get; set; }
    private bool emailNotVerified { get; set; } = false; 

    protected override void OnInitialized()
    {

        NavigatorService.NavigationManager = NavigationManagement;

        base.OnInitialized();
    }
    private void NavigateToSignUp()
    {
        try
        {
            NavigationManagement.NavigateTo("signup");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Navigation error: {ex.Message}");
        }
    }
    private void HandleValidSubmit()
    {

    }

    private async Task LogInReq()
    {
        //await App.Current.MainPage.Navigation.PushModalAsync(new NewPage1());
        try
        {
            var user = await UserReqService.GetUserAsync(email,password);

            if (user != null)
            {
                if(user.isVerified is true)
                {
                    sharedUser.Country = user.Country;
                    sharedUser.Role = user.Role;
                    sharedUser.Name = user.Name;
                    sharedUser.Surname = user.Surname;
                    sharedUser.Email = user.Email;

                    if(user.Role == "Student")
                    {
                        await App.Current.MainPage.Navigation.PushModalAsync(new NewPage1(NavigatorService, sharedUser));
                    }
                    else
                    if(user.Role == "Trainer")
                    {
                        await App.Current.MainPage.Navigation.PushModalAsync(new NewPage1(NavigatorService, sharedUser));
                    }
                }
                else
                {
                    emailNotVerified = true;
                    StateHasChanged();
                }
            }
            else
            {
                if (accessType == NetworkAccess.None)
                {
                    StateHasChanged();
                }
                else
                {
                    notFound = true;
                    StateHasChanged();
                }
            }
        }
        catch (HttpRequestException httpEx)
        {
            Console.WriteLine($"Request error: {httpEx.Message}");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"General error: {ex.Message}");
        }
    }

}
