@page "/verify_code"
@using Microsoft.AspNetCore.Components.Forms
@inject NavigationManager Navigation
@using Models

<div class="forgot-password-container">
    <button @onclick="goBack" type="button" class="back_btn"><svg width="30px" height="30px" viewBox="0 0 1024 1024" fill="#000000" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M669.6 849.6c8.8 8 22.4 7.2 30.4-1.6s7.2-22.4-1.6-30.4l-309.6-280c-8-7.2-8-17.6 0-24.8l309.6-270.4c8.8-8 9.6-21.6 2.4-30.4-8-8.8-21.6-9.6-30.4-2.4L360.8 480.8c-27.2 24-28 64-0.8 88.8l309.6 280z" fill="" /></svg></button>

    <h3>Verify Code</h3>

    <p>If you’ve forgotten your password, don’t worry! Just enter your email address below, and we’ll send you a code to help you reset it.</p>

    <EditForm Model="@loginModel" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group_login">
            <InputText id="email" type="number" @bind-Value="inputCode" class="form_control_login" placeholder="CODE" />
            <ValidationMessage For="@(() => loginModel.email)" />
        </div>
        <button class="btn-primary_login" @onclick="Verify">Verify</button>
    </EditForm>
</div>
@if(incorectCode)
{
    <p>Incorect Code!</p>
}
@code {
    private LoginModel loginModel = new LoginModel();
    public string? inputCode { get; set; }
    public bool incorectCode = false;
    private void goBack()
    {
        Navigation.NavigateTo("/");
    }

    private void HandleValidSubmit()
    {

    }

    public void Verify()
    {
        int numberInputCode = int.Parse(inputCode);
        if (GenerateCode.ValidateCode(numberInputCode) == true)
        {
            Console.Write("A mers");
            Navigation.NavigateTo("change_password");
        }
        else
        {
            incorectCode = true;
            StateHasChanged();
        }
    }
}
